
.slide-items {
    width: 1500px;
    height: 750px;
}
.btn {
    text-decoration: none;
    margin-left: 700px;
    font-size: 30px;
    color:white;
    background-color:#934BF1;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.1s;
}