.title {
    margin-top: 100px;
    margin-left: 600px;
}
.body_picture {
    margin-left: 100px;
}
.all_form {
    float: right;
    margin-right: 120px;
    margin-top: 65px;
}
.form {
    color: #934BF1;
    font-size: 25px;
    font-weight: bold;
}
input {
    border-radius: 5px;
    justify-content: flex-end;
    width: 500px;
    height: 50px;
}
.login_btn {
    margin-top: 30px;
    width: 508px;
    height: 50px;
    background-color: #F6F2DA;
    color: grey;
    border-radius: 5px;
    font-size: 25px;
}
.sign_footer {
    margin-left: 950px;
    color: #934BF1;
    display: table;
    font-size: 20px;
    text-decoration: none;
}
.sign-footer-right-item {
    display: table-cell;
    font-size: 20px;
    color: #934BF1;
    word-spacing: 3px;
    text-decoration: none;
}
.sign-footer-left-item {
    display: table-cell;
    font-size: 20px;
    color: #934BF1;
    word-spacing: 3px;
    text-decoration: none;
}
.under-bar {
    display: table;
    text-decoration: none;
}