{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/introduce.css' %}">
    </head>
    <body>
        <div class="slide">
            <img class="slide-items" src="{% static 'css/image/slide1.jpg' %}" alt="logo.png">
            <img class="slide-items" src="{% static 'css/image/slide2.jpg' %}" alt="logo.png">
            <img class="slide-items" src="{% static 'css/image/slide3.jpg' %}" alt="logo.png">
            <img class="slide-items" src="{% static 'css/image/slide4.jpg' %}" alt="logo.png">
            <img class="slide-items" src="{% static 'css/image/slide5.jpg' %}" alt="logo.png">
            <img class="slide-items" src="{% static 'css/image/slide6.jpg' %}" alt="logo.png">
            <img class="slide-items" src="{% static 'css/image/slide7.jpg' %}" alt="logo.png">
        </div>
    </body>
    <footer>
        <a class="btn" href="login">로그인 하기</a>
    </footer>
</html>